MVVM.xcworkspace/xcuserdata/guaz.xcuserdatad/UserInterfaceState.xcuserstate
MVVM.xcworkspace/xcuserdata/guaz.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ChangeScreen/ChangeScreen.xcodeproj/xcuserdata/guaz.xcuserdatad/xcschemes/ChangeScreen.xcscheme
ChangeScreen/ChangeScreen.xcodeproj/xcuserdata/guaz.xcuserdatad/xcschemes/xcschememanagement.plist
MVVM/MVVM.xcodeproj/xcuserdata/guaz.xcuserdatad/xcschemes/MVVM.xcscheme
MVVM/MVVM.xcodeproj/xcuserdata/guaz.xcuserdatad/xcschemes/xcschememanagement.plist
MyiBeacon/MyiBeacon.xcodeproj/xcuserdata/guaz.xcuserdatad/xcschemes/MyiBeacon.xcscheme
MyiBeacon/MyiBeacon.xcodeproj/xcuserdata/guaz.xcuserdatad/xcschemes/xcschememanagement.plist
